.news-page__container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px;
    width: 1000px;
}

.news-page__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}