.news__container{
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.news__title{
    max-width: 600px;
    font-size: 24px;
    font-weight: 600;
    color: var(--black-color);
}

.news__url{
    font-size: 16px;
    min-width: 150px;
    font-weight: 400;
    color: var(--primary-color);
    text-decoration: none;
}
.news__author{
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-color);
}

.news__date{
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-color);
}

.news__comments-count{
    font-size: 16px;
    font-weight: 700;
    color: var(--black-color);
}